<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <main>
    <a href="/index"><button>Home Page</button></a>
    <a href="/works"><button>Work Page</button></a>
</main>
<br>
<article id="bob-position">
    <img id='bob'src="images/Bob-Easel.jpeg" width="300px">
    <img id='bob'src="images/earlybob.jpeg" width="300px">
    <img id='bob'src="images/olderbob.jpeg" width="300px">

    <h3>Early Life</h3>
    <p>Ross was born in Daytona Beach, Florida, to Jack and Ollie Ross, a carpenter and a waitress respectively, and raised in Orlando, Florida.[4][5] As an adolescent, Ross cared for injured animals, including armadillos, snakes, alligators and squirrels, one of which was later featured in several episodes of his television show.[5][4] He had a half-brother, Jim, whom he mentioned in passing on his show.[6] Ross dropped out of high school in the 9th grade. While working as a carpenter with his father, he lost part of his left index finger, which did not affect his ability to later hold a palette while painting.</p>
    <hr>

    <h3>Military Career</h3>
    <p>In 1961, 18-year-old Ross enlisted in the United States Air Force and was put into service as a medical records technician. He rose to the rank of master sergeant and served as the first sergeant of the clinic at Eielson Air Force Base in Alaska,[8][9] where he first saw the snow and mountains that later appear as recurring themes in his paintings. He developed his quick painting technique during brief daily work breaks.[9] Having held military positions that required him to act tough and mean, "the guy who makes you scrub the latrine, the guy who makes you make your bed, the guy who screams at you for being late to work", Ross decided he would not raise his voice when he left the military.</p>
    <hr>
    <aside> <em>-Career as a painter-</em>
    During his 20-year Air Force career, Ross developed an interest in painting after attending an art class at the Anchorage U.S.O. club. He found himself frequently at odds with many of his painting instructors, who were more interested in abstract painting. Ross said, "They'd tell you what makes a tree, but they wouldn't tell you how to paint a tree."

        Ross was working as a part-time bartender when he discovered a TV show called The Magic of Oil Painting, hosted by German painter Bill Alexander. Alexander used a 16th-century painting style called alla prima (Italian for 'first attempt'), widely known as "wet-on-wet", that allowed him to create a painting within thirty minutes. Ross studied and mastered the technique, began painting and then successfully selling Alaskan landscapes that he would paint on novelty gold-mining pans.Eventually, Ross's income from sales surpassed his military salary. He retired from the Air Force in 1981 as a master sergeant. </aside>

    <p>Ross used a wet-on-wet oil painting technique of painting over a thin base layer of wet paint. The painting could progress without first drying. The technique used a limited selection of tools and colors that didn't require a large investment in expensive equipment. Ross frequently recommended odorless paint thinner (odorless mineral spirits) for brush cleaning.

        Combining the wet-painting method with the use of large one- and two-inch brushes, as well as painting knives, allowed the painter to quickly complete a landscape scene.
        
        Ross painted three versions of almost every painting featured on his show. The first was painted prior to taping and sat on an easel off-camera during filming, where Ross used it as a reference to create the second copy which viewers actually watched him paint. After filming the episode, he painted a more detailed version for inclusion in his instructional books. The versions were each marked on the side or back of the canvas: "Kowalski" for the initial version, "tv" for the version painted during the TV show and "book" for the book version.</p>
</article>
</body>
</html>