<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <main>
    <h1>Welcome to the World of <strong>Bob Ross</strong></h1>
    <a href="/works"><button>Work Page</button></a>
    <a href="/about"><button>About Page</button></a>
</main>
<article>
    <img src="/images/bob.png" width="300px">
    <p>Robert Norman Ross (October 29, 1942 – July 4, 1995) was an American painter, art instructor, and television host. He was the creator and host of The Joy of Painting, an instructional television program that aired from 1983 to 1994 on PBS in the United States, CBC in Canada, and similar channels in Latin America, Europe and elsewhere. Ross would subsequently become widely known through his posthumous internet presence.</p>
</article>
</body>
</html>