<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>works</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <main>
    <a href="/index"><button>Home Page</button></a>
    <a href="/about"><button>About Page</button></a>
    </main>

    <h1> These are some of the works of bob ross himself</h1>

    <div id="bob-position">
    <img src="/images/painting1.webp">
    <img src="/images/painting2.webp">
    <img src="/images/painting3.webp">
    <img src="/images/painting4.webp">
    <img src="/images/painting5.webp">
    <img src="/images/painting6.webp">
    </div>
</body>
</html>